@mixin primaryBtn {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: #f39c12;
  }
}

@mixin dashedLine {
  content: "";
  border-bottom: 1px dashed;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin textHover {
  &:hover {
    // transition: 0.5s ease;
    color: #f39c12;
  }
}

@mixin titleBorder {
  &::before {
    background: url(../img/title-border.png) repeat;
    content: "";
    width: 100px;
    height: 2px;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  &::after {
    content: "";
    background: #f39c12 repeat;
    height: 4px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
