@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 1.7em;
  color: #687284;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
}

h2,
h3 {
  line-height: 1.4em;
}

.headerBar {
  background-color: #212121;
  position: fixed;
}

.header {
  position: absolute;
  transition: all 500ms ease 0s;
  width: 100%;
  z-index: 1000;
  color: #fff;
  border-bottom: 1px solid rgba(243, 156, 18, 0.5);
}
.header a {
  color: #fff;
  font-size: 13px;
}
.header i {
  font-size: 13px;
  color: #fff;
}
.header .dropdown-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #dropdown-toggle {
  display: none;
}
.header .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .menu-button-container .menu-button {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header .menu-button-container .menu-button::before {
  content: "";
  margin-top: -8px;
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header .menu-button-container .menu-button::after {
  content: "";
  margin-top: 8px;
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.header #menu-toggle {
  display: none;
}
.header #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.header #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.header #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.header .row {
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header .row .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .row .logo img {
  text-align: center;
  max-width: 100%;
  height: auto;
}
.header .row .navBar {
  margin-left: 20%;
  padding-top: 40px;
}
.header .row .navBar .navList {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 1px;
}
.header .row .navBar .navList .navItem {
  padding-bottom: 35px;
  position: relative;
}
.header .row .navBar .navList .navItem:hover .navDropDown {
  animation: unfold 0.5s ease-out forwards;
}
.header .row .navBar .navList .navItem .navDropDown {
  position: absolute;
  top: 100%;
  left: -10px;
  width: 220px;
  z-index: 9900;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: max-height 0.5s ease-out;
}
.header .row .navBar .navList .navItem .navDropDown li {
  padding: 8px 0 8px 15px;
  width: 200px;
  border-bottom: 1px solid #1a1a1a;
  transition: 0.3s ease;
}
.header .row .navBar .navList .navItem .navDropDown li:hover {
  color: #f39c12;
}
.header .row .navBar .navList .navItem a {
  letter-spacing: 1px;
  font-size: 14px;
}
.header .row .navBar .navList .navItem a i {
  margin-left: 4px;
}
.header .row .navBar .navList .navItem a:hover {
  transition: 0.5s ease;
  color: #f39c12;
}
.header .row .navBar .navList .navItem a:hover i {
  transition: 0.5s ease;
  color: #f39c12;
}
.header .row .userTools {
  margin-left: 30px;
  position: relative;
}
.header .row .userTools .toolList {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .row .userTools .toolList .toolItem {
  cursor: pointer;
}
.header .row .userTools .toolList .toolItem i:hover {
  color: #f39c12;
}
.header .row .userTools .toolList .searchBtn:hover .searchBox {
  animation: unfold 0.5s ease-out forwards;
}
.header .row .userTools .toolList .langSelect select {
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  outline: none;
  display: grid;
}
.header .row .userTools .toolList .langSelect select:hover {
  color: #f39c12;
}
.header .row .userTools .toolList .langSelect select option {
  color: #000;
}
.header .row .userTools .searchBox {
  position: absolute;
  top: 63px;
  right: 0;
  border-radius: 4px;
  height: 60px;
  z-index: 99;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  max-height: 0;
  transition: max-height 0.5s ease-out;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  animation: fold 0.5s ease-out forwards;
}
.header .row .userTools .searchBox .searchForm {
  display: flex;
  background-color: #fff;
  padding: 10px;
}
.header .row .userTools .searchBox .searchForm input {
  border: 1px solid #f39c12;
  outline: none;
  width: 230px;
  padding: 0 10px;
}
.header .row .userTools .searchBox .searchForm button {
  padding: 9px 12px;
  background-color: #fff;
  border: 1px solid #f39c12;
  border-left: none;
  cursor: pointer;
}
.header .row .userTools .searchBox .searchForm button:hover {
  background-color: #f39c12;
  transition: 0.5s ease;
}
.header .row .userTools .searchBox .searchForm button:hover i {
  color: #fff;
}
.header .row .userTools .searchBox .searchForm button i {
  color: #f39c12;
  font-size: 18px;
}
.header .row .userTools .searchBoxOpen {
  animation: unfold 0.3s ease-out forwards;
}
@keyframes unfold {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}
@keyframes fold {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}

@media (max-width: 1300px) {
  .header .row .navBar {
    margin-left: 10%;
  }
  .header .row .navBar .navList {
    gap: 15px;
  }
  .header .row .userTools {
    margin-left: 25px;
  }
  .header .row .userTools .toolList {
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .header {
    border-bottom: 1px solid #f39c12;
    background-color: #212121;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  .header .row {
    justify-content: center;
  }
  .header .row .navBar .navList {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 26px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .row .navBar .navList:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .header .row .navBar .navList .navItem {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #212121;
    padding: 20px 30px;
  }
  .header .row .navBar .navList .navItem a i {
    display: none;
  }
  .header .row .navBar .navList .navItem .navDropDown {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .row .navBar .navList .navItem .navDropDown:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .header .row .navBar .navList .navItem .navDropDown li {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #212121;
    padding: 20px 30px;
    padding: 0.5em;
  }
  .header .row .menu-button-container {
    display: flex;
    width: 66%;
    align-items: flex-end;
  }
  .header .row .dropdown-button-container {
    display: flex;
  }
  .header .row #menu-toggle ~ .navBar li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 10px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row #menu-toggle:checked ~ .navBar li {
    border: 1px solid #333;
    height: 50px;
    margin-bottom: -17px;
    padding-left: 10px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row #dropdown-toggle ~ .navDropDown li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row #dropdown-toggle:checked ~ .navDropDown li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .row .userTools {
    display: none;
  }
}
.footer {
  color: #ffffff;
  position: relative;
  background: #5d6b82;
  z-index: 9;
}
.footer .footerBg {
  background-image: url(../img/footer-map-bg.png);
  background-size: 90% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}
.footer .footerNewsletter {
  display: flex;
  padding: 6% 0;
  align-items: center;
}
.footer .footerNewsletter .newsletterDesc {
  width: 50%;
}
.footer .footerNewsletter .newsletterDesc h2,
.footer .footerNewsletter .newsletterDesc p {
  color: #fff;
}
.footer .footerNewsletter .newsletterDesc h2 {
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 10px;
}
.footer .footerNewsletter .newsletterForm {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: baseline;
}
.footer .footerNewsletter .newsletterForm input {
  padding: 16px 10px;
  width: 75%;
  border-radius: 4px;
  border: none;
  margin-right: 15px;
  outline: none;
}
.footer .footerNewsletter .newsletterForm button {
  background-color: #f39c12;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
  padding: 16px 23px;
  width: 30%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}
.footer .footerNewsletter .newsletterForm button:hover {
  background-color: #fff;
  color: #f39c12;
  transition: 0.5s ease;
}
.footer .footerBorder {
  background: rgba(0, 0, 0, 0) url(../img/footer-border.png) repeat-x scroll center center;
  height: 1px;
}
.footer .footerMain {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}
.footer .footerMain p,
.footer .footerMain a,
.footer .footerMain i {
  color: #a1a7b2;
}
.footer .footerMain h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: capitalize;
  line-height: 1.4em;
  color: #fff;
  position: relative;
}
.footer .footerMain h2::after {
  border-bottom: 1px dashed #f39c12;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}
.footer .footerMain .footerAbout {
  width: 25%;
}
.footer .footerMain .footerAbout p {
  margin-bottom: 30px;
}
.footer .footerMain .footerAbout .contactList .contactItem {
  margin: 10px 0;
}
.footer .footerMain .footerAbout .contactList .contactItem i {
  position: relative;
  margin-right: 15px;
  font-size: 12px;
}
.footer .footerMain .footerAbout .contactList .contactItem i::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #a1a7b2;
  position: absolute;
  top: 0;
  right: -9px;
}
.footer .footerMain .footerAbout .contactList .contactItem a:hover {
  color: #f39c12;
  transition: 0.5s ease;
}
.footer .footerMain .footerTweets {
  width: 22%;
}
.footer .footerMain .footerTweets .tweetList .tweetItem {
  display: flex;
}
.footer .footerMain .footerTweets .tweetList .tweetItem .tweetIcon {
  margin-right: 15px;
}
.footer .footerMain .footerTweets .tweetList .tweetItem .tweetIcon i {
  color: #f39c12;
  font-size: 12px;
}
.footer .footerMain .footerTweets .tweetList .tweetItem .tweetDetails {
  margin-bottom: 20px;
}
.footer .footerMain .footerTweets .tweetList .tweetItem .tweetDetails p {
  margin: 0 0 10px;
}
.footer .footerMain .footerTweets .tweetList .tweetItem .tweetDetails a:hover {
  color: #f39c12;
  transition: 0.5s;
}
.footer .footerMain .footerService {
  width: 22%;
}
.footer .footerMain .footerService .serviceList .serviceItem {
  margin: 10px 0;
  letter-spacing: 1px;
}
.footer .footerMain .footerService .serviceList .serviceItem i {
  font-size: 13px;
  margin-right: 10px;
}
.footer .footerMain .footerService .serviceList .serviceItem a:hover {
  color: #f39c12;
  transition: 0.5s ease;
}
.footer .footerMain .footerInstaFeed {
  width: 24%;
}
.footer .footerMain .footerInstaFeed .footerImgs {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px 10px;
}
.footer .footerMain .footerInstaFeed .footerImgs img {
  max-width: 100%;
  height: auto;
  transition: 0.3s ease;
}
.footer .footerMain .footerInstaFeed .footerImgs img:hover {
  transform: scale(1.1);
}
.footer .footerBottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerBottom .bottomText p {
  color: #fff;
}
.footer .footerBottom .footerSocials .socialList {
  display: flex;
  gap: 9px;
}
.footer .footerBottom .footerSocials .socialList .socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(161, 167, 178, 0.3137254902);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 9px;
  cursor: pointer;
}
.footer .footerBottom .footerSocials .socialList .socialItem a i {
  color: #fff;
  font-size: 12px;
}
.footer .footerBottom .footerSocials .socialList .socialItem:hover {
  background-color: #f39c12;
  transition: 0.5s;
}

.main .heroSlider .swiperHero .singleSlider {
  position: relative;
}
.main .heroSlider .swiperHero .singleSlider .heroImg {
  position: relative;
}
.main .heroSlider .swiperHero .singleSlider .heroImg img {
  width: 100%;
  height: 100vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .heroSlider .swiperHero .singleSlider .heroImg::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3c4147;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc {
  position: absolute;
  width: 79%;
  transform: translate(14%, -143%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc h2 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc p {
  color: #fff;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc .heroBtnGroup {
  margin-top: 6%;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc .heroBtnGroup .heroBtn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid;
  border-radius: 3px;
  padding: 12px 30px;
  margin-left: 20px;
  transition: 0.5s ease;
}
.main .heroSlider .swiperHero .singleSlider .heroDesc .heroBtnGroup .heroBtn:hover {
  background-color: #f39c12;
  border: 2px solid #f39c12;
}
.main .heroSlider .swiperHero .sliderBtns {
  transform: translateY(200px);
  display: flex;
  gap: 15px;
  position: absolute;
  right: 10%;
  top: 55%;
  z-index: 99;
}
.main .heroSlider .swiperHero .sliderBtns .btnNext,
.main .heroSlider .swiperHero .sliderBtns .btnPrev {
  background-color: #fff;
  cursor: pointer;
  border-radius: 1px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.main .heroSlider .swiperHero .sliderBtns .btnNext i,
.main .heroSlider .swiperHero .sliderBtns .btnPrev i {
  font-size: 22px;
  color: #5d6b82;
}
.main .heroSlider .swiperHero .sliderBtns .btnNext:hover,
.main .heroSlider .swiperHero .sliderBtns .btnPrev:hover {
  background-color: #f39c12;
}
.main .heroSlider .swiperHero .sliderBtns .btnNext:hover i,
.main .heroSlider .swiperHero .sliderBtns .btnPrev:hover i {
  color: #fff;
}
.main .blog {
  background-color: #f7f9fc;
  margin-top: 100px;
}
.main .blog .row {
  justify-content: space-between;
}
.main .blog .row .singleBlog {
  background-color: #fff;
  width: 31.5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px #ddd;
}
.main .blog .row .singleBlog .blogImg img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.main .blog .row .singleBlog .blogDetails {
  position: relative;
  text-align: center;
  padding: 30px 20px;
}
.main .blog .row .singleBlog .blogDetails .blogIcon {
  background-color: #f39c12;
  color: #fff;
  text-align: center;
  border-radius: 0 50px 50px 0;
  font-size: 32px;
  height: 50px;
  width: 70px;
  position: absolute;
  left: 0;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .blog .row .singleBlog .blogDetails .blogIcon i {
  font-size: 20px;
  padding-top: 5px;
  color: #fff;
}
.main .blog .row .singleBlog .blogDetails h2 {
  text-transform: uppercase;
  color: #3c4a62;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  transition: 0.5s ease;
}
.main .blog .row .singleBlog .blogDetails h2:hover {
  color: #f39c12;
}
.main .blog .row .singleBlog .blogDetails p {
  color: #687284;
  line-height: 23px;
  margin-bottom: 10px;
}
.main .blog .row .singleBlog .blogDetails .readMoreBtn {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
}
.main .blog .row .singleBlog .blogDetails .readMoreBtn:hover {
  background-color: #f39c12;
}
.main .about {
  background-color: #f7f9fc;
  padding: 10% 0;
  margin-bottom: 30px;
}
.main .about .row .leftSide {
  width: 40%;
  background-color: #eef1f5;
  padding: 30px 20px;
}
.main .about .row .leftSide h2 {
  color: #3c4a62;
  font-size: 24px;
  text-transform: uppercase;
  margin: 5px 0 15px;
}
.main .about .row .leftSide .quoteForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  outline: none;
}
.main .about .row .leftSide .quoteForm input::-webkit-outer-spin-button,
.main .about .row .leftSide .quoteForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .about .row .leftSide .quoteForm textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  letter-spacing: 1px;
  border: none;
  resize: none;
  outline: none;
}
.main .about .row .leftSide .quoteForm .inputGroup {
  display: flex;
  justify-content: space-between;
}
.main .about .row .leftSide .quoteForm .inputGroup input {
  width: 47%;
}
.main .about .row .leftSide .quoteForm .quoteBtn {
  cursor: pointer;
  color: #fff;
  background-color: #5d6b82;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin: 15px 0;
  width: 90px;
  height: 44px;
  letter-spacing: 1px;
}
.main .about .row .leftSide .quoteForm .quoteBtn:hover {
  background-color: #f39c12;
  transition: all 0.5s ease;
}
.main .about .row .rightSide {
  width: 75%;
  margin-left: 10%;
  padding: 0 10px;
}
.main .about .row .rightSide h2 {
  color: #3c4a62;
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.main .about .row .rightSide p {
  color: #687284;
  margin: 5px 0 25px;
}
.main .about .row .rightSide a {
  color: #687284;
}
.main .about .row .rightSide a:hover {
  color: #f39c12;
}
.main .about .row .rightSide a:hover i {
  color: #f39c12;
  margin-left: 10px;
}
.main .about .row .rightSide a i {
  transition: 0.5s;
  font-size: 10px;
}
.main .about .row .rightSide .aboutCount {
  background-color: #fff;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  width: 100%;
}
.main .about .row .rightSide .aboutCount .singleCount {
  display: flex;
  flex-direction: column;
}
.main .about .row .rightSide .aboutCount .singleCount .countIcon {
  color: #f39c12;
  font-weight: 700;
  font-size: 22px;
}
.main .about .row .rightSide .aboutCount .singleCount .countIcon i {
  color: #f39c12;
  font-size: 24px;
}
.main .service {
  margin: 30px 0;
}
.main .service .serviceTitle {
  text-align: center;
  margin-bottom: 5%;
}
.main .service .serviceTitle h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #3c4a62;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.main .service .serviceTitle h2::before {
  background: url(../img/title-border.png) repeat;
  content: "";
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}
.main .service .serviceTitle h2::after {
  content: "";
  background: #f39c12 repeat;
  height: 4px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .service .serviceTop {
  display: flex;
  align-items: center;
}
.main .service .serviceTop .serviceLeft {
  width: 50%;
}
.main .service .serviceTop .serviceLeft h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #3c4a62;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
.main .service .serviceTop .serviceLeft h2::after {
  content: "";
  border-bottom: 1px dashed;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f39c12;
}
.main .service .serviceTop .serviceLeft .learnMoreBtn {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 20px;
}
.main .service .serviceTop .serviceLeft .learnMoreBtn:hover {
  background-color: #f39c12;
}
.main .service .serviceTop .serviceBg {
  background: url(../img/service/service-cargo-bg.png) no-repeat center center/contain;
  width: 99%;
  height: 450px;
  position: relative;
}
.main .service .serviceTop .serviceBg .serviceRight {
  background-color: rgba(243, 156, 18, 0.9);
  padding: 30px;
  width: 55%;
  position: absolute;
  right: 0;
  top: 0;
}
.main .service .serviceTop .serviceBg .serviceRight h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.main .service .serviceTop .serviceBg .serviceRight h2::after {
  content: "";
  border-bottom: 1px dashed;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main .service .serviceTop .serviceBg .serviceRight p {
  color: #fff;
  margin-bottom: 30px;
}
.main .service .serviceTop .serviceBg .serviceRight .serviceList .serviceItem {
  color: #fff;
  margin-bottom: 15px;
}
.main .service .serviceTop .serviceBg .serviceRight .serviceList .serviceItem i {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.main .service .serviceTop .serviceBg .serviceRight .learnMoreBtn {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
}
.main .service .serviceTop .serviceBg .serviceRight .learnMoreBtn:hover {
  background-color: #f39c12;
}
.main .service .serviceTop .serviceBg .serviceRight .learnMoreBtn:hover {
  background-color: #fff;
  color: #f39c12;
}
.main .service .serviceBottom {
  position: relative;
  height: 130vh;
}
.main .service .serviceBottom .serviceBg {
  background: url(../img/service/service-area-bg.jpg) repeat 0 0/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.main .service .serviceBottom .serviceBg::after {
  background: #f5f7f9 none repeat;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.main .service .serviceBottom .serviceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
}
.main .service .serviceBottom .serviceDetails .singleService {
  margin: 40px 0;
  position: relative;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 5% 0 47.5%;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .hex {
  width: 70px;
  height: 40px;
  background: #f5f7f9;
  position: relative;
  transition: 0.5s ease;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .hex::before,
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .hex::after {
  content: "";
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  position: absolute;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .hex::before {
  top: -20px;
  border-bottom: 20px solid #f5f7f9;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .hex::after {
  bottom: -20px;
  border-top: 20px solid #f5f7f9;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .inner {
  background-color: #5d6b82;
  transform: scale(0.8, 0.8);
  z-index: 1;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .inner::before {
  border-bottom: 20px solid #5d6b82;
  transition: 0.5s ease;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon .inner::after {
  border-top: 20px solid #5d6b82;
  transition: 0.5s ease;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceIcon i {
  position: absolute;
  color: #fff;
  font-size: 22px;
  z-index: 9;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceDesc h2 {
  color: #3c4a62;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceDesc a,
.main .service .serviceBottom .serviceDetails .singleService .serviceDesc h2 {
  transition: 0.5s ease;
}
.main .service .serviceBottom .serviceDetails .singleService .serviceDesc p {
  margin-bottom: 10px;
}
.main .service .serviceBottom .serviceDetails .singleService:hover .serviceDesc h2,
.main .service .serviceBottom .serviceDetails .singleService:hover .serviceDesc a {
  color: #f39c12;
}
.main .service .serviceBottom .serviceDetails .singleService:hover .hex .inner {
  background-color: #f39c12;
}
.main .service .serviceBottom .serviceDetails .singleService:hover .hex .inner::before {
  border-bottom: 20px solid #f39c12;
}
.main .service .serviceBottom .serviceDetails .singleService:hover .hex .inner::after {
  border-top: 20px solid #f39c12;
}
.main .promo {
  background-color: #fff;
  width: 100%;
}
.main .promo .promoTop {
  padding: 75px 0;
  background: url(../img/promo/promo_top_bg.png) no-repeat right -5% bottom 50%/46% auto;
  width: 100%;
  display: flex;
}
.main .promo .promoTop .promoColumn {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main .promo .promoTop .promoColumn .singlePromo {
  display: flex;
  gap: 20px;
  margin: 0 0 30px;
  padding: 15px 0 25px;
}
.main .promo .promoTop .promoColumn .singlePromo .promoIcon i {
  color: #f39c12;
  font-size: 23px;
  background-color: #f4f7f9;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .promo .promoTop .promoColumn .singlePromo .promoDetails h3 {
  font-size: 24px;
  color: #3c4a62;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.main .promo .promoBottom {
  position: relative;
  padding: 120px 0 200px;
}
.main .promo .promoBottom .promoBg {
  background: rgba(0, 0, 0, 0) url(../img/promo/promo_bottom_bg.jpg) no-repeat scroll center center/cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.main .promo .promoBottom .promoBg::after {
  background: #3c4a62 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}
.main .promo .promoBottom .promoDesc {
  width: 100%;
  height: 80%;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .promo .promoBottom .promoDesc h2 {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
}
.main .promo .promoBottom .promoDesc .promoBtn {
  background-color: #f39c12;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;
  padding: 12px 23px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.main .promo .promoBottom .promoDesc .promoBtn:hover {
  background-color: #fff;
  color: #f39c12;
  transition: 0.5s ease;
}
.main .testimonial {
  background-color: #f7f9fc;
  padding: 7% 0;
  text-align: center;
}
.main .testimonial h2 {
  color: #3c4a62;
  display: inline-block;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  position: relative;
}
.main .testimonial h2::before {
  background: url(../img/title-border.png) repeat;
  content: "";
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}
.main .testimonial h2::after {
  content: "";
  background: #f39c12 repeat;
  height: 4px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .testimonial .swiperTestimonial {
  cursor: pointer;
}
.main .testimonial .swiperTestimonial .testimonialDetails {
  position: relative;
}
.main .testimonial .swiperTestimonial .testimonialDetails img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f39c12;
  margin-bottom: 6%;
  margin-top: 2%;
}
.main .testimonial .swiperTestimonial .testimonialDetails q {
  width: 75%;
  margin: 15px auto 37px;
  display: block;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
  color: #687284;
  position: relative;
}
.main .testimonial .swiperTestimonial .testimonialDetails q::after {
  color: #5d6b82;
  content: "\f10d";
  font-family: fontawesome;
  font-size: 65px;
  height: 60px;
  left: 50%;
  line-height: 1;
  opacity: 0.5;
  position: absolute;
  top: -100px;
  transform: translateX(-50%);
  width: 60px;
  margin-top: 30px;
  font-style: normal;
}
.main .testimonial .swiperTestimonial .testimonialDetails h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #3c4a62;
  margin: 0 0 15px;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
}
.main .testimonial .swiperTestimonial .testimonialDetails p {
  margin: 0 0 10px;
}
.main .testimonial .swiperTestimonial .testimonialBtns {
  transform: translateY(200px);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  gap: 70%;
  opacity: 0;
  animation: unHoversliderBtn 0.5s;
}
.main .testimonial .swiperTestimonial .testimonialBtns i {
  font-size: 22px;
  color: #fff;
}
.main .testimonial .swiperTestimonial .testimonialBtns .prevBtn,
.main .testimonial .swiperTestimonial .testimonialBtns .nextBtn {
  background-color: #5d6b82;
  cursor: pointer;
  height: 38px;
  padding: 8px 0 5px;
  border-radius: 3px;
  width: 47px;
}
.main .testimonial .swiperTestimonial .testimonialBtns .prevBtn:hover,
.main .testimonial .swiperTestimonial .testimonialBtns .nextBtn:hover {
  background-color: #f39c12;
}
.main .testimonial:hover .testimonialBtns {
  animation: hoversliderBtn 0.5s;
  opacity: 1;
  gap: 80%;
}
@keyframes hoversliderBtn {
  from {
    gap: 70%;
    opacity: 0;
  }
  to {
    gap: 80%;
    opacity: 1;
  }
}
@keyframes unHoversliderBtn {
  to {
    gap: 70%;
    opacity: 0;
  }
  from {
    gap: 80%;
    opacity: 1;
  }
}

.aboutDetails {
  margin: 7% 0;
}
.aboutDetails .aboutTitle {
  text-align: center;
  margin-bottom: 5%;
}
.aboutDetails .aboutTitle h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #3c4a62;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.aboutDetails .aboutTitle h2::before {
  background: url(../img/title-border.png) repeat;
  content: "";
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}
.aboutDetails .aboutTitle h2::after {
  content: "";
  background: #f39c12 repeat;
  height: 4px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.aboutDetails .navigation {
  width: 85%;
  margin: 0 auto;
}
.aboutDetails .navigation .navList {
  display: flex;
  justify-content: space-between;
}
.aboutDetails .navigation .navList .listItem a {
  border: 1px solid #efefef;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #5d6b82;
  padding: 10px 20px;
  display: block;
  transition: 0.5s ease;
}
.aboutDetails .navigation .navList .listItem .active {
  background: #f39c12;
  border-color: #f39c12;
  color: #fff;
}
.aboutDetails .navigation .navList .listItem .active:hover {
  border-color: #f39c12;
  color: #f39c12;
  background-color: #fff;
}
.aboutDetails .navigation .navList .listItem:hover a {
  border-color: #f39c12;
  color: #f39c12;
}
.aboutDetails .aboutContent {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aboutDetails .aboutContent .row:nth-child(even) {
  flex-direction: row-reverse;
}
.aboutDetails .aboutContent .row {
  gap: 30px;
}
.aboutDetails .aboutContent .row .contentImg {
  width: 50%;
}
.aboutDetails .aboutContent .row .contentImg img {
  max-width: 100%;
}
.aboutDetails .aboutContent .row .aboutDesc {
  width: 50%;
}
.aboutDetails .aboutContent .row .aboutDesc h3 {
  font-size: 18px;
  color: #3c4a62;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.aboutDetails .aboutContent .row .aboutDesc .descList {
  margin-top: 25px;
}
.aboutDetails .aboutContent .row .aboutDesc .descList .desc {
  margin-top: 10px;
}
.aboutDetails .aboutContent .row .aboutDesc .descList .desc i {
  color: #f39c12;
  margin-right: 10px;
}

.client {
  cursor: pointer;
  padding: 8% 0;
}

.serviceContent {
  background: #f7f9fc;
  padding: 8% 0;
}
.serviceContent .serviceTitle {
  text-align: center;
  margin-bottom: 5%;
}
.serviceContent .serviceTitle h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #3c4a62;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.serviceContent .serviceTitle h2::before {
  background: url(../img/title-border.png) repeat;
  content: "";
  width: 100px;
  height: 2px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}
.serviceContent .serviceTitle h2::after {
  content: "";
  background: #f39c12 repeat;
  height: 4px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.serviceContent .serviceDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.serviceContent .serviceDetails .serviceLeft {
  width: 33%;
}
.serviceContent .serviceDetails .serviceLeft h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color: #3c4a62;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
.serviceContent .serviceDetails .serviceLeft h2::after {
  content: "";
  border-bottom: 1px dashed;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f39c12;
}
.serviceContent .serviceDetails .serviceLeft .learnMoreBtn {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 20px;
}
.serviceContent .serviceDetails .serviceLeft .learnMoreBtn:hover {
  background-color: #f39c12;
}
.serviceContent .serviceDetails .serviceRight {
  width: 65%;
}
.serviceContent .serviceDetails .serviceRight:nth-child(even) {
  border-right: 1px solid #ddd;
}
.serviceContent .serviceDetails .serviceRight:last-child {
  border-bottom: 1px solid #ddd;
}
.serviceContent .serviceDetails .serviceRight .row {
  height: 33%;
}
.serviceContent .serviceDetails .serviceRight .row .singleService {
  display: flex;
  width: 50%;
  padding: 33px 10px 33px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transition: 0.3s ease;
}
.serviceContent .serviceDetails .serviceRight .row .singleService .serviceIcon {
  height: 100%;
}
.serviceContent .serviceDetails .serviceRight .row .singleService .serviceIcon i {
  padding-right: 20px;
  font-size: 26px;
  border-right: 1px solid #ddd;
  color: #f39c12;
  transition: 0.3s ease;
}
.serviceContent .serviceDetails .serviceRight .row .singleService .serviceDesc h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #3c4a62;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.serviceContent .serviceDetails .serviceRight .row .singleService .serviceDesc p {
  transition: 0.3s ease;
}
.serviceContent .serviceDetails .serviceRight .row .singleService:hover {
  background: #f39c12;
}
.serviceContent .serviceDetails .serviceRight .row .singleService:hover .serviceIcon i {
  color: #fff;
}
.serviceContent .serviceDetails .serviceRight .row .singleService:hover .serviceDesc h2,
.serviceContent .serviceDetails .serviceRight .row .singleService:hover .serviceDesc p {
  color: #fff;
}

.contactContent {
  background: #f7f9fc;
  padding: 7% 0;
}
.contactContent .contactTitle {
  text-align: center;
}
.contactContent .contactTitle h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #3c4a62;
}
.contactContent .contactTitle p {
  margin: 15px 0 40px;
}
.contactContent .row {
  gap: 30px;
}
.contactContent .row .contactMessage {
  width: 65%;
}
.contactContent .row .contactMessage .contactForm input {
  width: 100%;
  text-transform: capitalize;
  padding: 6px 12px;
  margin-bottom: 30px;
  display: block;
  color: #555;
  min-height: 40px;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: inset 0px 0px 2px 0px rgba(169, 164, 163, 0.368627451);
}
.contactContent .row .contactMessage .contactForm textarea {
  width: 100%;
  border: 1px solid #ddd;
  text-transform: capitalize;
  padding: 6px 12px;
  outline: none;
  height: 110px;
  resize: none;
  box-shadow: inset 0px 0px 2px 0px rgba(169, 164, 163, 0.368627451);
}
.contactContent .row .contactMessage .contactForm button {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.contactContent .row .contactMessage .contactForm button:hover {
  background-color: #f39c12;
}
.contactContent .row .contactInfo {
  width: 35%;
}
.contactContent .row .contactInfo h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #3c4a62;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.contactContent .row .contactInfo .contactAddress {
  margin-bottom: 20px;
}
.contactContent .row .contactInfo .contactAddress .addressList .addressItem {
  margin-bottom: 10px;
}
.contactContent .row .contactInfo .contactAddress .addressList .addressItem:hover a {
  color: #f39c12;
}
.contactContent .row .contactInfo .contactAddress .addressList .addressItem a {
  transition: 0.5s ease;
}
.contactContent .row .contactInfo .contactSocial .socialList {
  display: flex;
  gap: 8px;
}
.contactContent .row .contactInfo .contactSocial .socialList .socialItem {
  background: #d7d7d7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  cursor: pointer;
}
.contactContent .row .contactInfo .contactSocial .socialList .socialItem:hover {
  background-color: #f39c12;
}
.contactContent .row .contactInfo .contactSocial .socialList .socialItem i {
  color: #fff;
}

.map {
  margin-bottom: -8px;
}

.error {
  padding: 8% 0;
  text-align: center;
}
.error p {
  font-size: 24px;
  color: #3c4a62;
  text-transform: capitalize;
  font-weight: 700;
  margin: 25px 0 15px;
}
.error h2 {
  font-size: 36px;
  color: #3c4a62;
  margin-bottom: 20px;
}
.error a {
  background-color: #5d6b82;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  padding: 8px 23px 9px;
  width: 136px;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 8px 20px 9px;
}
.error a:hover {
  background-color: #f39c12;
}

.hero {
  background: url(../img/promo/promo_bottom_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #3c4147;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.hero .heroTitle {
  z-index: 9;
}
.hero .heroTitle h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero .heroTitle .navList,
.hero .heroTitle a,
.hero .heroTitle h2 {
  color: #fff;
}
.hero .heroTitle .pageNav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.hero .heroTitle .pageNav a {
  transition: 0.3s ease;
}
.hero .heroTitle .pageNav a:hover {
  color: #f39c12;
}/*# sourceMappingURL=index.css.map */