.footer {
  color: #ffffff;
  position: relative;
  background: #5d6b82;
  z-index: 9;

  .footerBg {
    background-image: url(../img/footer-map-bg.png);
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.1;

    position: absolute;
    z-index: -1;
  }

  // newsletter
  .footerNewsletter {
    display: flex;
    padding: 6% 0;
    align-items: center;

    .newsletterDesc {
      width: 50%;
      h2,
      p {
        color: #fff;
      }
      h2 {
        text-transform: capitalize;
        font-size: 36px;
        margin-bottom: 10px;
      }
    }
    .newsletterForm {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      align-items: baseline;

      input {
        padding: 16px 10px;
        width: 75%;
        border-radius: 4px;
        border: none;
        margin-right: 15px;
        outline: none;
      }

      button {
        background-color: #f39c12;
        color: #fff;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        margin-top: 15px;
        width: 140px;
        height: 56px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        border: none;
        transition: 0.5s ease;
        &:hover {
          background-color: #fff;
          color: #f39c12;
        }
      }
    }
  }

  //border line
  .footerBorder {
    background: rgba(0, 0, 0, 0) url(../img/footer-border.png) repeat-x scroll
      center center;
    height: 1px;
  }

  //main
  .footerMain {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    p,
    a,
    i {
      color: #a1a7b2;
    }

    h2 {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 40px;
      padding-bottom: 20px;
      text-transform: capitalize;
      line-height: 1.4em;
      color: #fff;
      position: relative;

      &::after {
        border-bottom: 1px dashed #f39c12;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 50px;
      }
    }

    // about
    .footerAbout {
      width: 25%;

      p {
        margin-bottom: 30px;
      }

      .contactList {
        .contactItem {
          margin: 10px 0;

          i {
            position: relative;
            margin-right: 15px;
            font-size: 12px;
            &::after {
              content: "";
              display: block;
              width: 1px;
              height: 15px;
              background-color: #a1a7b2;
              position: absolute;
              top: 0;
              right: -9px;
            }
          }
          a {
            &:hover {
              color: #f39c12;
              transition: 0.5s ease;
            }
          }
        }
      }
    }

    //tweet
    .footerTweets {
      width: 22%;
      .tweetList {
        .tweetItem {
          display: flex;

          .tweetIcon {
            margin-right: 15px;
            i {
              color: #f39c12;
              font-size: 12px;
            }
          }

          .tweetDetails {
            margin-bottom: 20px;
            p {
              margin: 0 0 10px;
            }

            a {
              &:hover {
                color: #f39c12;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }

    //service
    .footerService {
      width: 22%;
      .serviceList {
        .serviceItem {
          margin: 10px 0;
          letter-spacing: 1px;
          i {
            font-size: 13px;
            margin-right: 10px;
          }
          a {
            &:hover {
              color: #f39c12;
              transition: 0.5s ease;
            }
          }
        }
      }
    }
    //instaFeed
    .footerInstaFeed {
      width: 24%;

      .footerImgs {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 5px 10px;

        img {
          max-width: 100%;
          height: auto;
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  //bottom
  .footerBottom {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bottomText {
      p {
        color: #fff;
        span {
          cursor: pointer !important;
          transition: 0.3s ease;
          color: #fff;
          &:hover {
            color: #f39c12;
          }
        }
      }
    }

    .footerSocials {
      .socialList {
        display: flex;
        gap: 9px;
        .socialItem {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #a1a7b250;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 9px;
          cursor: pointer;
          a {
            i {
              color: #fff;
              font-size: 12px;
            }
          }

          &:hover {
            background-color: #f39c12;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .footer {
    .container {
      width: 75%;
      // newsletter
      .footerNewsletter {
        display: flex;
        flex-direction: column;
        .newsletterDesc {
          width: 100%;

          h2 {
            font-size: 30px;
          }
        }
        .newsletterForm {
          width: 100%;
          justify-content: space-between;
          input {
            font-size: 12px;
            width: 70%;
            height: 46px;
          }

          button {
            height: 46px;
            font-size: 12px;
          }
        }
      }

      //main
      .footerMain {
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 16px;
          margin: 20px 0 30px;
        }
        p {
          font-size: 13px;
        }

        // about
        .footerAbout {
          width: 100%;
        }

        //tweet
        .footerTweets {
          width: 100%;
        }

        //service
        .footerService {
          width: 100%;
        }
        //instaFeed
        .footerInstaFeed {
          width: 100%;
        }
      }

      //bottom
      .footerBottom {
        flex-direction: column;
        .bottomText {
          p {
            text-align: center;
            font-size: 13px;
          }
          margin-bottom: 15px;
        }
      }
    }
  }
}
