.aboutDetails {
  margin: 7% 0;
  .aboutTitle {
    text-align: center;
    margin-bottom: 5%;
    h2 {
      font-size: 40px;
      text-transform: uppercase;
      color: #3c4a62;
      position: relative;
      @include titleBorder;
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }

  .navigation {
    width: 85%;
    margin: 0 auto;
    .navList {
      display: flex;
      justify-content: space-between;

      .listItem {
        a {
          border: 1px solid #efefef;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500;
          color: #5d6b82;
          padding: 10px 20px;
          display: block;
          transition: 0.5s ease;
        }
        .active {
          background: #f39c12;
          border-color: #f39c12;
          color: #fff;
          &:hover {
            border-color: #f39c12;
            color: #f39c12;
            background-color: #fff;
          }
        }

        &:hover {
          a {
            border-color: #f39c12;
            color: #f39c12;
          }
        }
      }
    }
  }

  .aboutContent {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .row:nth-child(even) {
      flex-direction: row-reverse;
    }
    .row {
      gap: 30px;
      .contentImg {
        width: 50%;
        img {
          max-width: 100%;
        }
      }

      .aboutDesc {
        width: 50%;
        h3 {
          font-size: 18px;
          color: #3c4a62;
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        .descList {
          margin-top: 25px;

          .desc {
            margin-top: 10px;
            i {
              color: #f39c12;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.client {
  cursor: pointer;
  padding: 8% 0;
}

@media (max-width: 850px) {
  .aboutDetails {
    .navigation {
      .navList {
        flex-direction: column;
      }
    }

    .aboutContent {
      .row:nth-child(even) {
        flex-direction: column-reverse;
      }
      .row {
        flex-direction: column;
        .aboutDesc {
          width: 100%;
        }
        .contentImg {
          width: 100%;
        }
      }
    }
  }
}
